---
import Icon from '@components/ui/icons/icon.astro'

const { title, url, noArrow } = Astro.props

interface Props {
  title?: string
  url?: string
  noArrow?: boolean
}

const baseClasses = 'group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-neutral-700 ring-zinc-500 transition duration-300 focus-visible:ring outline-none'
const borderClasses = 'border border-transparent'
const bgColorClasses = 'bg-sleeper_green-100 hover:bg-sleeper_green-300 active:bg-sleeper_green-300 dark:focus:outline-none'
const disableClasses = 'disabled:pointer-events-none disabled:opacity-50'
const fontSizeClasses = '2xl:text-base'
const ringClasses = 'dark:ring-zinc-200';
---

<a
    class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses}`}
    href={url}
    data-astro-prefetch
>
  {title}
  {noArrow ? null : <Icon name="arrowRight" />}
</a>
